{% extends 'admin_dashboard.html' %}
{% load static %}

{% block body %}
<div class="text-center text-blue-500 underline text-3xl font-semibold mt-5 underline-offset-4">All Bookings</div>
<button class="m-5 p-1 font-bold text-white bg-blue-700 hover:bg-blue-600 rounded-md"><a
    href="{% url 'AdminPanel:dashboard' %}">Admin Dashboard</a></button>

<div style="margin: 0 16px; display: flex; justify-content: center;">
  <div class="overflow-x-auto w-full " style="margin: 0 16px;">
    <table class="table-auto border w-full relative mb-10 ">
      <thead>
        <tr class="bg-blue-500 text-white">
          <th class="px-4 py-2 border">Booking ID</th>
          <th class="px-4 py-2 border">Booking Date</th>
          <th class="px-4 py-2 border">Guest Name</th>
          <th class="px-4 py-2 border">CheckIn Date</th>
          <th class="px-4 py-2 border">CheckOut Date</th>
          <th class="px-4 py-2 border">Room No.</th>
        </tr>
      </thead>
      <tbody>
        {% for booking in bookings %}
        <tr class="text-white text-center">
          <td class="px-4 py-2 border">{{ booking.id }}</td>
          <td class="px-4 py-2 border" style="line-clamp: 2;">{{ booking.bookingDate }}</td>
          <td class="px-4 py-2 border" style="line-clamp: 2;">{{ booking.guestName }}</td>
          <td class="px-4 py-2 border" style="line-clamp: 2;">{{ booking.checkInDate }}</td>
          <td class="px-4 py-2 border" style="line-clamp: 2;">{{ booking.checkOutDate }}</td>
          <td class="px-4 py-2 border" style="line-clamp: 2;">{{ booking.roomNo }}</td>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- paginator logic  -->
<div class="paginator flex flex-row justify-center">
  <div class="row">
    <div class="col-md-12">
      <div class="pagination-container my-6 text-semibold justify-center">
        {% if bookings.has_previous %}
        <a class="p-2 px-4 rounded-full text-white" style="background-color: #7654d1; cursor: pointer;"
          href="?page=1">&laquo;</a>
        <a class="p-2 px-3 rounded-full text-white" style="background-color: #543b9a; cursor: pointer;"
          href="?page={{ bookings.previous_page_number }}">{{ bookings.previous_page_number }}</a>
        {% endif %}

        <a class="p-2 px-3 mr-1 rounded-full text-white disabled"
          style="background-color: #2f2056; pointer-events: none;">
          {{ bookings.number }}
        </a>

        {% if bookings.has_next %}
        <a class="p-2 px-3 rounded-full text-white" style="background-color: #543b9a; cursor: pointer;"
          href="?page={{ bookings.next_page_number }}">{{ bookings.next_page_number }}</a>
        <a class="p-2 px-4 rounded-full text-white" style="background-color: #7654d1; cursor: pointer;"
          href="?page={{ bookings.paginator.num_pages }}">&raquo;</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock body %}