{% extends 'admin_dashboard.html' %}
{% load static %}

{% block form %}
<div class="text-white ">
<p class="text-2xl text-white">Instructions :</p>
    <br>
<p>0. Only a superuser can make any other user an "ADMIN" by changing its role type to either "Admin" or "admin".</p>
    <br>
<p>1. You can add users to this website from the Add Users option. The details filled up on that form must be appropriate , authentic and realistic.</p>
    <br>
<p>2. You have the option to add or delete room from the Show ALL Rooms Page.</p>
    <br>
<p>3. You have the option to delete any registered users from the All Users Option on your options list.</p>
    <br>
<p>4. Only you can approve the request from Humans for requesting Triple Room.</p>


</div>
{% endblock form %}