{% extends 'base.html'%}
{% block body %}


{% if request.method == 'POST' %}
    
    {%if error == 1 %}
        <p class="mt-5 text-center text-lg font-bold text-red-600">Email already in use !</p>

    {% elif error == 2 %}
        <p class="mt-5 text-center text-lg font-bold text-red-600">Passwords Do Not Match !</p>
    
    {% elif error == 3 %}
        <p class="mt-5 text-center text-lg font-bold text-red-600">Enter more secure password !</p>
    
    {% elif error == 4 %}
        <p class="mt-5 text-center text-lg font-bold text-red-600">Invalid Contact No. !</p>
      {% endif %}  
    
{% endif %}
    

<div class="addRoom_container flex ">
    <div class="addRoom_form box_shadow text-white rounded-lg border border-blue-900 w-2/3 md:w-7/12 my-5 px-10 py-5 mx-auto">
        <form action="{% url 'Rooms:add_room' %}" method="post">
            {% csrf_token %}
            <h2 class="form_heading">Add Room </h2>
            <hr class="mb-10 mx-10">
            <div class="roomNo">
                <label for="roomNo" class="form_label">Room No*:</label><br>
                <input name="roomNo" type="number" required placeholder="Enter room No"
                    class="form_input"
                    {% if request.method == 'POST' %} value="{{ roomNo }}" {% endif %}>
            </div>

            <div class="roomType">
                <label for="roomType" class="form_label">Select Room Type *:</label><br>
                <select id="roomType" name="roomType" required
                    class="mb-3 px-2 py-1 w-full bg-transparent border border-white text-center text-white">
                    <option value="" hidden>Select Room Type</option>
                    <option value="General" {% if request.method == 'POST' %} value="{{ roomType }}" {% endif %} class="bg-black">General </option>
                    <option value="Special" {% if request.method == 'POST' %} value="{{ roomType }}" {% endif %}class="bg-black     
                     ">Special </option>
                </select>
            </div>

            <div class="roomCapacity">
                <label for="roomCapacity" class="form_label">Room Cpacity *:</label><br>
                <select id="roomCapacity" name="roomCapacity" required
                    class="mb-3 px-2 py-1 w-full bg-transparent border border-white text-center text-white">
                    <option value="" hidden>Select Room Cpacity</option>
                    <option value="Single " {% if request.method == 'POST' %} value="{{ roomCapacity }}" {% endif %} class="bg-black">Single </option>
                    
                    <option value="Double " {% if request.method == 'POST' %} value="{{ roomCapacity }}" {% endif %} class="bg-black">Double </option>
                    
                    <option value="Triple " {% if request.method == 'POST' %} value="{{ roomCapacity }}" {% endif %} class="bg-black">Triple </option>
                    
                </select>
            </div>

            <div class="price ">
                <label for="price " class="form_label">Enter Room Price *:</label><br>
                <input name="price" type="number" required placeholder="Enter room Price "
                    class="form_input"
                    {% if request.method == 'POST' %} value="{{ price  }}" {% endif %}>
            </div>
          
            <div class="roomImage">
               <input name="roomImage" type="file" accept=".jpg, .jpeg, .png, ." required>
               <button type="submit" class="rounded-sm border border-blue-500 px-1 ">Upload</button><br>
               <p class="text-red-600 text-xs">*Image should be in .jpg, .jpeg or .png format.</p>
            </div>
            
            <div class="description">
                <label for="description" class="form_label">Room Description *:</label><br>
                <textarea name="description" id="description" cols="30" rows="10" required
                    class="form_input"
                    {% if request.method == 'POST' %} value="{{ description }}" {% endif %}></textarea>
            </div>

            <div class="submit my-3">
                <button  id="addRoom" onclick="" class="px-2 py-1 font-bold text-white rounded-lg border border-purple-900 
                bg-purple-700 hover:bg-purple-900">Add Room </button>
            </div>
           
        </form>
    </div>
</div>


{% endblock %}