{% extends 'base.html' %} {% block body %}

<!-- room section  -->

<section class="m-3 p-3">
  <h1 class="m-3 text-center text-4xl font-bold bg-blue-500">Rooms</h1>

  <div class="">
    <a href="{% url 'Rooms:add_room' %}"><div class="flex flex-row my-[30px] mx-[50px] text-xl font-semibold sm:justify-center hover:underline">
      <div class="w-6 h-6 ">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-1 h-1">
          <path strokeLinecap="round" strokeLinejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg></div>
        <div class="">Add Rooms</div>
      </div></a>
  </div>

  <!-- Filter form -->
  <form method="get" action="">
    <label>Room Capacity:</label><br>
    <input type="radio" name="room_capacity" value="Single" id="single" checked>
    <label for="single">Single</label><br>
    <input type="radio" name="room_capacity" value="Double" id="double">
    <label for="double">Double</label><br>
    <input type="radio" name="room_capacity" value="Triple" id="triple">
    <label for="triple">Triple</label><br>
    
    Check-in date: <input type="date" name="check_in_date" /> Check-out
    date: <input type="date" name="check_out_date" />
    <button type="submit">Filter</button>
  </form>
  <div
    class="grid sm:grid-cols-1 gap-12 mx-[5%] my-5 md:grid-cols-3 xl:grid-cols-4"
  >
    <!-- rooms div goes here  -->

    {% for room in rooms %}

    <div
      class="border-2 border-violet-500 rounded-md hover:shadow-2xl p-3 md:p-4"
    >
      <img
        alt="Home"
        src="{% if room.roomImage %}{{ room.roomImage.url}}{% endif %}"
        class="h-56 w-full rounded-md object-cover transition duration-500 hover:scale-110"
      />

      <div class="mt-2"></div>

      <div class="flex justify-between md:flex-col">
        <div class="flex capacity flex-col md:flex-row mt-1">
          <div class="text-sm font-medium text-white">Capacity : &nbsp;</div>
          <div class="text-sm font-medium text-white">{{room.capacity}}</div>
        </div>
        <div class="rating flex flex-col md:flex-row mt-1">
          <div class="text-sm font-medium text-white">Type :&nbsp;</div>
          <div class="text-sm font-medium text-white">{{room.roomType}}</div>
        </div>
        <div class="price flex flex-col md:flex-row mt-1">
          <div class="text-sm font-medium text-white">Price :&nbsp;</div>
          <div class="text-sm font-medium text-white">Rs. {{room.price}}</div>
        </div>
        <!-- description -->
        <div class="description mt-2 relative">
          <div class="description-text line-clamp-2">
            <span class="text-m font-medium text-white">Description :</span>
            <span class="text-sm text-gray-500"> {{ room.description}} </span>
          </div>
        </div>
        <div class="book mt-1 flex justify-center">
          <a
            class="inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
            href="{% url 'Booking:book_room_form' room.capacity room.roomNo room.roomType %}?room_type={{ room.roomType|urlencode }}&room_number={{ room.number }}&capacity={{room.capacity}}"
          >
            Book Now
          </a>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</section>

{% endblock body %}
