{% extends 'base.html' %} 
{% load static %}
{% block body %}

<div class="mt-2 text:2xl lg:text-5xl italic text-center underline text-white font-serif">
  Contact Us
</div>

<div class="mt-2 text-base lg:text-2xl italic text-center underline text-green-400 font-serif">
  "Feeling grate? Contact us at Hotel Transylvania for a cheddarific experience!
  🧀🏨"
</div>

<div class="flex flex-col items-center md:flex-row justify-around border border-violet-500-600  mt-6 mx-2 p-3 ">
  <div class="">
    <p class="mb-2 mt-2 lg:mb-8 font-light text-center text-white md:text-2xl">
      You can find us at.
    </p>
    <iframe style="width: 22rem; height: 22rem;"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7202.773150498937!2d81.86168972451807!3d25.492150935039174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399aca789e0c84a5%3A0x2c27733a7529bf08!2sMNNIT%20Allahabad%20Campus%2C%20Teliarganj%2C%20Prayagraj%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1643838214688!5m2!1sen!2sin"
      class="rounded-md mb-3" loading="lazy">
    </iframe>
  </div>

  <div class="flex flex-col justify-center text-center text-white md:text-xl">
    <div>
      Reach out to us at Hotel Transylvania for reservations and inquiries:
    </div>
    <div>Call us at : 123456789</div>
    <div>Email : reservations@hoteltransylvania.com.</div>
  </div>
</div>


<div class="mt-2 text-5xl italic text-center underline text-white font-serif">
  Our Team

</div>

<div class=" flex flex-row mt-8 justify-evenly mx-2 p-3  ">

  <div class="group relative block bg-black border border-white rounded-lg p-3 mx-2">
    <img alt="Developer" src="{% static 'images/Anupesh.jpg' %}"
      class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50" />

    <div class="relative p-4 sm:p-6 lg:p-8">
      <p class="text-sm font-bold uppercase tracking-widest text-pink-500">
        Developer
      </p>

      <p class="text-2xl font-bold text-white sm:text-2xl">Anupesh Kumar Verma</p>

      <div class="mt-32 sm:mt-48 lg:mt-64">
        <div
          class="translate-y-8  opacity-0 transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100 h-12 w-12 mb-2 mx-auto">
          <a href="https://www.linkedin.com/in/Anupeshverma/" class="">
            <?xml version="1.0" ?><svg id="Layer_1" style="enable-background: new 0 0 512 512" version="1.1"
              viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <style type="text/css">
                .st0 {
                  fill: #2a7ab9;
                }
              </style>
              <g>
                <path class="st0" d="M273,233.8v-0.7c-0.1,0.2-0.3,0.5-0.5,0.7H273z" />
                <path class="st0"
                  d="M447.7,29.6H64.2C45.9,29.6,31,44.1,31,62v388c0,17.9,14.9,32.4,33.2,32.4h383.5c18.4,0,33.3-14.5,33.3-32.4   V62C481,44.1,466.1,29.6,447.7,29.6z M167.4,408.7h-68V204.2h68V408.7z M133.4,176.2H133c-22.8,0-37.5-15.7-37.5-35.3   c0-20.1,15.2-35.3,38.4-35.3c23.3,0,37.6,15.3,38,35.3C171.9,160.5,157.1,176.2,133.4,176.2z M412.5,408.7h-68V299.2   c0-27.5-9.8-46.2-34.4-46.2c-18.8,0-30,12.6-34.9,24.9c-1.8,4.4-2.2,10.5-2.2,16.6v114.2h-68c0,0,0.9-185.3,0-204.5h68v28.9   c9-13.9,25.2-33.8,61.3-33.8c44.7,0,78.2,29.2,78.2,92.1V408.7z" />
              </g>
            </svg>
          </a>
        </div>
        <div>

        </div>
        <div class="">
          <p class="text-xl text-white text-center font-serif ">Final Year</p>
          <p class="text-md text-white text-center font-serif ">
            Electronis & Communication Engineering
          </p>
          <p class="text-md text-white text-center font-serif font-semibold ">
            NIT Allahabad (MNNIT)
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- Ashish part  -->

  <div class="group relative block bg-black border border-white rounded-lg p-3 mx-2 ">
    <img alt="Developer" src="{% static 'images/Ashish.jpeg' %}"
      class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50" />

    <div class="relative p-4 sm:p-6 lg:p-8">
      <p class="text-sm font-bold uppercase tracking-widest text-pink-500">
        Developer
      </p>

      <p class="text-2xl font-bold text-white sm:text-2xl">Ashish Sharma</p>

      <div class="mt-32 sm:mt-48 lg:mt-64">
        <div
          class="translate-y-8 opacity-0 transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100 h-12 w-12 mb-2 mx-auto">
          <a href="https://www.linkedin.com/in/ashishsharma1203/" class="">
            <?xml version="1.0" ?><svg id="Layer_1" style="enable-background: new 0 0 512 512" version="1.1"
              viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <style type="text/css">
                .st0 {
                  fill: #2a7ab9;
                }
              </style>
              <g>
                <path class="st0" d="M273,233.8v-0.7c-0.1,0.2-0.3,0.5-0.5,0.7H273z" />
                <path class="st0"
                  d="M447.7,29.6H64.2C45.9,29.6,31,44.1,31,62v388c0,17.9,14.9,32.4,33.2,32.4h383.5c18.4,0,33.3-14.5,33.3-32.4   V62C481,44.1,466.1,29.6,447.7,29.6z M167.4,408.7h-68V204.2h68V408.7z M133.4,176.2H133c-22.8,0-37.5-15.7-37.5-35.3   c0-20.1,15.2-35.3,38.4-35.3c23.3,0,37.6,15.3,38,35.3C171.9,160.5,157.1,176.2,133.4,176.2z M412.5,408.7h-68V299.2   c0-27.5-9.8-46.2-34.4-46.2c-18.8,0-30,12.6-34.9,24.9c-1.8,4.4-2.2,10.5-2.2,16.6v114.2h-68c0,0,0.9-185.3,0-204.5h68v28.9   c9-13.9,25.2-33.8,61.3-33.8c44.7,0,78.2,29.2,78.2,92.1V408.7z" />
              </g>
            </svg>
          </a>
        </div>
        <div>

        </div>
        <div class="">
          <p class="text-xl text-white text-center font-serif ">Final Year</p>
          <p class="text-md text-white text-center font-serif ">
            Electronis & Communication Engineering
          </p>
          <p class="text-md text-white text-center font-serif font-semibold ">
            NIT Allahabad (MNNIT)
          </p>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock body %}