{% extends 'base.html' %} {% load static %} {% block body %}


<div class=" cover-video h-64 overflow-hidden ">
  <video autoplay loop muted id="video-bg" class="w-full object-cover -z-50 overflow-hidden">
    <source src="{% static 'cover-video.mp4' %}" type="video/mp4" />
  </video>
</div>

<!-- --------- FACILITIES --------- -->
<h1 class="m-3 text-center text-4xl font-bold text-white bg-none  underline underline-offset-8">Facilities </h1>
<section id="facilities-container" class="bg-mid_color text-center text-white my-3 py-3">

  <div class="p-3 flex justify-around">
    <div class="flex flex-col items-center">
      <img src="https://img.icons8.com/arcade/512/coins.png" alt="coins" class="w-12" />
      <br />
      Best Rates
    </div>
    <div class="flex flex-col items-center">
      <img
        src="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/512/external-Tag-international-women's-day-smashingstocks-flat-smashing-stocks.png"
        alt="Tags" class="w-12" />
      <br />
      No hidden charges
    </div>
    <div class="flex flex-col items-center">
      <img src="https://img.icons8.com/flat-round/512/wifi.png" alt="Wifi" class="w-12" />
      <br />
      Free Wifi
    </div>
    <div class="flex flex-col items-center">
      <img src="https://cdn-icons-png.flaticon.com/512/867/867968.png" alt="Food" class="w-12" />
      <br />
      Food Service Available
    </div>
  </div>
</section>

<!-- room section  -->

<section id="Room Section" class="m-3 p-3">
  <h1 class="m-3 text-center text-4xl font-bold text-white underline  underline-offset-8 ">Our Rooms</h1>

  <div class="book mt-1 flex justify-end mx-[5%] my-5  md:mx-10 px-5 ">
    <a class="inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
      href="{% url 'Rooms:show_all_rooms' %}">
      Show all Rooms
    </a>
  </div>


  <div class="grid grid-cols-1 gap-12 mx-[5%] my-5 md:grid-cols-2 md:mx-10 px-5  ">
    <!-- rooms div goes here  -->
    <div class="border-2 border-violet-500 rounded-md hover:shadow-2xl p-3 md:p-4">
      <img alt="Home"
        src="https://images.unsplash.com/photo-1618773928121-c32242e63f39?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8aG90ZWx8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60"
        class="h-56 w-full rounded-md object-cover transition duration-500 hover:scale-110" />

      <div class="flex justify-between md:flex-col mt-2">
        <div class="flex capacity flex-col md:flex-row mt-1">
          <div class="text-sm font-medium text-white">Type : &nbsp;</div>
          <div class="text-sm font-medium text-white">General</div>
        </div>
        <div class="rating flex flex-col md:flex-row mt-1">
          <div class="text-sm font-medium text-white">Capacity :&nbsp;</div>
          <div class="text-sm font-medium text-white">Single / Double</div>
        </div>
        <div class="price flex flex-col md:flex-row mt-1">
          <div class="text-sm font-medium text-white">Ideal For :&nbsp;</div>
          <div class="text-sm font-medium text-white">Human</div>
        </div>
      </div>

      <div class="book mt-1 flex justify-center">
        <form action="{% url 'Rooms:show_all_rooms' %}" method="post">
          {% csrf_token %}
          <button name="room_type" value="General"
            class="inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500">
            View More
          </button>
        </form>
      </div>
    </div>
    <div class="border-2 border-violet-500 rounded-md hover:shadow-2xl p-3 md:p-4">
      <img alt="Home"
        src="https://media.istockphoto.com/id/1183404803/photo/view-of-dark-room-abandoned-in-the-psychiatric-hospital.webp?b=1&s=170667a&w=0&k=20&c=4PPp_M3QOeTvHCFVVjrx-x1Z-oT5uqh87NZ6mG-6qFA="
        class="h-56 w-full rounded-md object-cover transition duration-500 hover:scale-110" />

      <div class="flex justify-between md:flex-col mt-2">
        <div class="flex capacity flex-col md:flex-row mt-1">
          <div class="text-sm font-medium text-white">Type : &nbsp;</div>
          <div class="text-sm font-medium text-white">Special</div>
        </div>
        <div class="rating flex flex-col md:flex-row mt-1">
          <div class="text-sm font-medium text-white">Capacity :&nbsp;</div>
          <div class="text-sm font-medium text-white">Double / Triple </div>
        </div>
        <div class="price flex flex-col md:flex-row mt-1">
          <div class="text-sm font-medium text-white">Ideal For :&nbsp;</div>
          <div class="text-sm font-medium text-white">Monster</div>
        </div>
      </div>

      <div class="book mt-1 flex justify-center">
        <form action="{% url 'Rooms:show_all_rooms' %}" method="post">
          {% csrf_token %}
          <button name="room_type" value="Special"
            class="inline-block rounded border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500">
            View More
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="fly_bat">
  <img src="{% static 'gifs/fly_bat.gif' %}" />
</div>
<!-- WHAT PEOPLE SAYS -->
<section id="What_People_Says">
  <div class="people_says">
    <h1 class="text-purple-800 text_shadow text-4xl">What People Says</h1>
    <div class="people">
      <div class="dp_left">
        <img src="{% static 'images/default_monster.png' %}" />
      </div>
      <div class="quote_left ">
        "Bolts and bones, this electrifying hotel offers a voltage-charged experience! From lightning-fast service to the eerie ambiance, every moment here is electrifying. A monstrous stay that recharges my soul and leaves me thunderstruck!"
        <br />
        <h4 align="right">👻 Frankenstein's Monster: </h4>
      </div>
    </div>
    <div class="people people_right">
      <div class="quote_right">
        "Embarking on a spine-tingling adventure at Hotel Transylvania is a journey beyond the ordinary. The unearthly comfort and warmth of the friendly staff create an inviting atmosphere. Sharing breakfast with mummies adds a touch of mystique, making it an otherworldly experience that transitions seamlessly from the realm of the extraordinary to the comfort of your bed.
        <br />
        <h4 align="right">🧑‍🚀 Adventurous Human</h4>
      </div>
      <div class="dp_right">
        <img src="{% static 'images/default_human.png' %}" />
      </div>
    </div>

    <div class="people">
      <div class="dp_left">
        <img class="left_img" src="{% static 'images/default_monster.png' %}" />
      </div>
      <div class="quote_left">
        "Hotel Transylvania provides a mysterious sanctuary tailored for creatures like myself. The fang-tastic amenities, accompanied by captivating graveyard views, establish it as a genuine haven where the otherworldly find solace and enchantment."
        <br />
        <h4 align="right">🧛‍♂️ Mystic Serpent"</h4>
      </div>
    </div>
  </div>
</section>

{% endblock body %}