{% extends 'base.html'%}
{% block body %}

{% if request.method == 'POST' %} <p class="mt-5 text-center text-lg font-bold text-red-600">{{ error }}</p> {% endif %}

<div class=" flex ">
    <div class="form rounded-lg border border-blue-900  my-5 p-5 mx-auto">
        <form action="{% url 'Accounts:activation_email' %}" method="post">
            {% csrf_token %}
            <h2 class=" text-center font-extrabold text-2xl text-purple-900 m-5">ACCOUNT ACTIVATION</h2>
            <div class="email">
                <label for="email" class="text-sm font-bold mt-5">Email Address:</label><br>
                <input name="email" type="email" required placeholder="Enter your email address"
                    class="mb-3 px-2 py-1 w-full rounded-sm border border-purple-900 text-center">
            </div>
            <div class="submit_btn my-3 flex justify-center ">
                <button class="px-2 py-1 font-bold text-white rounded-lg border border-purple-900 
                bg-green-600 hover:bg-green-700">Generate Link</button>
                
            </div>
            <div class="register">
                Don't have an account ?
                <a href="{% url 'Accounts:signup' %}" class="hover:underline font-semibold">Register</a> Here!
            </div>
        </form>
    </div>
</div>


{% endblock %}