{% extends 'base.html'%}
{% block body %}

<div class="email-container flex ">
    <div class="email-form box_shadow text-white rounded-lg border border-blue-900  my-5 p-5 mx-auto">
        <form action="{% url 'Accounts:forgot_password' %}" method="post">
            {%csrf_token%}
            <h2 class="text_shadow text-center font-extrabold text-2xl text-purple-500 m-5">Forgot Password</h2>
            <hr class="m-4">
            <div class="email">
                <label for="email" class="text-sm font-bold mt-5">Email Address:</label><br>
                <input name="email" type="email" required placeholder="Enter your email address"
                    class="mb-3 px-2 py-1 w-full rounded-md border border-purple-900 text-center text-black">
            </div>

            <div class="submit_btn my-3 flex justify-between ">
                <button class="px-2 py-1 font-bold text-white rounded-lg border border-purple-900 
                bg-purple-700 hover:bg-purple-900">Submit</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}