{% extends 'base.html'%}
{% block body %}


{% if request.method == 'POST' %}
    
    {%if error == 1 %}
        <p class="mt-5 text-center text-lg font-bold text-red-600">Email already in use !</p>

    {% elif error == 2 %}
        <p class="mt-5 text-center text-lg font-bold text-red-600">Passwords Do Not Match !</p>
    
    {% elif error == 3 %}
        <p class="mt-5 text-center text-lg font-bold text-red-600">Enter more secure password !</p>
    
    {% elif error == 4 %}
        <p class="mt-5 text-center text-lg font-bold text-red-600">Fill the fields appropriately !</p>
      {% endif %}  
    
{% endif %}
    

<div class="signup-container flex ">
    <div class="signup-form rounded-lg border border-blue-900 w-1/2 my-5 p-5 mx-auto">
        <form action="{% url 'Accounts:signup' %}" method="post">
            {% csrf_token %}
            <h2 class=" text-center font-extrabold text-2xl text-purple-900 mb-5">CREATE ACCOUNT</h2>
            <div class="first_name">
                <label for="first_name" class="text-sm font-bold mt-5">First Name*:</label><br>
                <input name="fname" type="text" required placeholder="Enter first name"
                    class="mb-3 px-2 py-1 w-full rounded-sm border border-purple-900 text-center"
                    {% if request.method == 'POST' %} value="{{ fname }}" {% endif %}>
            </div>

            <div class="last_name">
                <label for="last_name" class="text-sm font-bold mt-5">Last Name*:</label><br>
                <input name="lname" type="text" required placeholder="Enter last name"
                    class="mb-3 px-2 py-1 w-full rounded-sm border border-purple-900 text-center"
                    {% if request.method == 'POST' %} value="{{ lname }}" {% endif %}>
            </div>

            <div class="email">
                <label for="email" class="text-sm font-bold mt-5">Email Address*:</label><br>
                <input name="email" type="email" required placeholder="Enter your email address"
                    class="mb-3 px-2 py-1 w-full rounded-sm border border-purple-900 text-center"
                    {% if request.method == 'POST' %} value="{{ email }}" {% endif %}>
            </div>

            <div class="number">
                <label for="contact-no" class="text-sm font-bold mt-5">Contact No.:</label><br>
                <input name="contact" type="text" placeholder="Enter your contact number"
                    class="mb-3 px-2 py-1 w-full rounded-sm border border-purple-900 text-center"
                    {% if request.method == 'POST' %} value="{{ contact }}" {% endif %}>
            </div>
            <div class="role">
                <label for="role" class="text-sm font-bold mt-5">Register As*:</label><br>
                <select id="role" name="role" required
                    class="mb-3 px-2 py-1 w-full rounded-sm border border-purple-900 text-center">
                    <option value="" hidden>Select role</option>
                    <option value="Human" {% if role == "Human" %} selected {% endif %}>Human</option>
                    <option value="Monster" {% if role == "Monster" %} selected {% endif %}>Monster</option>
                </select>
            </div>
            <div class="password">
                <label for="password" class="text-sm font-bold mt-5">Password:</label><br>
                <input name="password" type="password" title="Password must containe alteast one capital letter, one small letter, one number and a special character." required placeholder="Enter your password"
                    class="mb-3 px-2 py-1 w-full rounded-sm border border-purple-900 text-center">
            </div>
            <div class="confirm-password">
                <label for="confirm-password" class="text-sm font-bold mt-5">Confirm Password:</label><br>
                <input name="confirm_password" type="password" required placeholder="Enter your password again"
                    class="mb-3 px-2 py-1 w-full rounded-sm border border-purple-900 text-center">
            </div>
            <div class="submit_btn my-3">
                <button class="px-2 py-1 font-bold text-white rounded-lg border border-purple-900 
                bg-purple-700 hover:bg-purple-900">SignUp</button>
            </div>
            <div class="register text-center">
                Already have an account?
                <a href="{% url 'Accounts:login' %}" class="hover:underline font-semibold">LogIn</a> Here!
            </div>
        </form>
    </div>
</div>


{% endblock %}