{% extends 'base.html'%}
{% block body %}


{% if request.method == 'POST' %}
    
    {%if error == 1 %}
        <p class="mt-5 text-center text-lg font-bold text-red-600">Email already in use !</p>

    {% elif error == 2 %}
        <p class="mt-5 text-center text-lg font-bold text-red-600">Passwords Do Not Match !</p>
    
    {% elif error == 3 %}
        <p class="mt-5 text-center text-lg font-bold text-red-600">Enter more secure password !</p>
    
    {% elif error == 4 %}
        <p class="mt-5 text-center text-lg font-bold text-red-600">Invalid Contact No. !</p>
      {% endif %}  
    
{% endif %}
    

<div class="signup-container flex ">
    <div class="signup-form box_shadow text-white rounded-lg border border-blue-900 w-2/3 md:w-7/12 my-5 px-10 py-5 mx-auto">
        <form action="{% url 'Accounts:signup' %}" method="post">
            {% csrf_token %}
            <h2 class="form_heading">CREATE ACCOUNT</h2>
            <hr class="mb-10 mx-10">
            <div class="first_name">
                <label for="first_name" class="form_label">First Name*:</label><br>
                <input name="fname" type="text" required placeholder="Enter first name"
                    class="form_input"
                    {% if request.method == 'POST' %} value="{{ fname }}" {% endif %}>
            </div>

            <div class="last_name">
                <label for="last_name" class="form_label">Last Name*:</label><br>
                <input name="lname" type="text" required placeholder="Enter last name"
                    class="form_input"
                    {% if request.method == 'POST' %} value="{{ lname }}" {% endif %}>
            </div>

            <div class="email">
                <label for="email" class="form_label">Email Address*:</label><br>
                <input name="email" type="email" required placeholder="Enter your email address"
                    class="form_input"
                    {% if request.method == 'POST' %} value="{{ email }}" {% endif %}>
            </div>

            <div class="number">
                <label for="contact-no" class="form_label">Contact No.:</label><br>
                <input name="contact" type="text" placeholder="Enter your contact number"
                    class="form_input"
                    {% if request.method == 'POST' %} value="{{ contact }}" {% endif %}>
            </div>
            <div class="role">
                <label for="role" class="form_label">Register As*:</label><br>
                <select id="role" name="role" required
                    class="mb-3 px-2 py-1 w-full bg-transparent border border-white text-center text-white">
                    <option value="" hidden>Select role</option>
                    <option value="Human" {% if role == "Human" %} selected {% endif %} class="bg-black">Human</option>
                    <option value="Monster" {% if role == "Monster" %} selected {% endif %} class="bg-black     
                     ">Monster</option>
                </select>
            </div>
            <div class="password">
                <label for="password" class="form_label">Password:</label><br>
                <input name="password" type="password" required placeholder="Enter your password"
                    class="form_input">
            </div>
            <div class="confirm-password">
                <label for="confirm-password" class="form_label">Confirm Password:</label><br>
                <input name="confirm_password" type="password" required placeholder="Enter your password again"
                    class="form_input">
                    <p class="mb-3 text-xs text-red-500">&nbsp;*Password must contain alteast one capital letter, one small letter, one number and a special character.</p>
            </div>
            <div class="submit_btn my-3">
                <button class="px-2 py-1 font-bold text-white rounded-lg border border-purple-900 
                bg-purple-700 hover:bg-purple-900">SignUp</button>
            </div>
            <div class="register text-center">
                Already have an account?
                <a href="{% url 'Accounts:login' %}" class=" text-orange-200 hover:underline font-semibold">LogIn</a> Here!
            </div>
        </form>
    </div>
</div>


{% endblock %}